@import "./function.scss";

// @mixin 指令允许我们定义一个可以在整个样式表中重复使用的样式
// @include 指令可以将混入（mixin）引入到文档中

@mixin b($block){
    $B:$namespace + '-' + $block !global;

    // $B: xxx：声明一个叫 B 的变量。
    // .#{$B}：$B 取变量 B，#{} 拼接。假设 B 的值是 class 那么 .#{$B} 就等于 .class
    .#{$B}{
        @content
    }
};

//@at-root 从字面上解释就是跳出根元素，与根元素并行。当你选择器嵌套多层之后，想让某个选择器跳出，此时就可以使用 @at-root
//这里最终生成的样式就例如 .ben-card.is-always-shadow{} 同时符合.ben-card和.is-always-shadow样式才会生效
@mixin when($state){
    @at-root{
        &.#{$state-prefix + $state}{
            @content
        }
    }
};

@mixin e($element){
    $E:$element !global;
    $selector:&; //父级选择器
    $currentSelector:"";
    //循环
    @each $unit in $element {
        //$B对应ben-card $element-seperator对应__  
        $currentSelector:#{$currentSelector + "." + $B + $element-sperator + $unit + ","};
    }

    @if hitAllSpecialNestRule($selector){
        @at-root{
            #{$selector}{
                #{$currentSelector}{
                    @content
                }
            }
        }
    }@else {
        @at-root{
            #{$currentSelector}{
                @content
            }
        }
    }
}